mixin types()
    +b.types
        .container
            +e.inner
                +titleMedium('tYpeS Of Sites',null)
                +e.content
                    +e.description that we develop
                    +e.items
                        +e.item
                            +e.item-title LANDING Page
                            +e.item-description A selling single-page website
                            +e.UL.list
                                +e.LI.paragraph Gives the opportunity to speak about your company or a separate service, without overpaying for a multi-page site;
                                +e.LI.paragraph Designed for rapid collection of leads and promotion campaigns;
                                +e.LI.paragraph Has a bright design and a clear call to action;
                                +e.LI.paragraph Is inexpensive and is created in the shortest possible time.
                        +e.item
                            +e.item-title Corporate website
                            +e.item-description Image site
                            +e.UL.list
                                +e.LI.paragraph Contains complete information about your company and services;
                                +e.LI.paragraph Is aimed at obtaining a stable flow of calls and applications;
                                +e.LI.paragraph Increases the loyalty of the company`s customers;
                                +e.LI.paragraph Helps to attract new business connections and new customers.
                        +e.item
                            +e.item-title e-commerce site
                            +e.item-description Virtual store of your goods
                            +e.UL.list
                                +e.LI.paragraph Has an understandable and convenient directory structure;
                                +e.LI.paragraph Ensures stable operation under severe loads;
                                +e.LI.paragraph Integrates with your systems and services;
                                +e.LI.paragraph Has a unique selling design.
                        +e.item
                            +e.item-title Internet portal
                            +e.item-description Multifunctional site with a catalog of goods, services or facilities
                            +e.UL.list
                                +e.LI.paragraph Established for specific commercial and information purposes;
                                +e.LI.paragraph Allows you to get the necessary information on a topic of interest;
                                +e.LI.paragraph Has a carefully designed navigation system, and a number of interactive services;
                                +e.LI.paragraph Forms user communities.