mixin footer()
    +b.footer
        .container
            +e.inner
                +e.SPAN.text This website uses cookies to improve your experience.
                +e.link(href="#") Allow cookies. Cookie Policy
