mixin footer()
    .footer
        .container
            .footer__inner
                span.footer__inner_text This website uses cookies to improve your experience.
                a(class='footer__inner_link' href='#') Allow cookies. Cookie Policy
