mixin swiperWeWeb()
    +b.swiperWeWeb
        .container
            +e.content
                +e.CANVAS(id="myCanvas2")
                +e.inner
                    +e.title we
                    +e.container.swiper-container
                        +e.wrapper.swiper-wrapper
                            +e.slide.swiper-slide consider the implementation in detail
                            +e.slide.swiper-slide consider the implementation in detail
                            +e.slide.swiper-slide consider the implementation in detail
                            +e.slide.swiper-slide consider the implementation in detail
                        .swiperWeWeb__pagination