@import "./../../common/constants";

$GREY_LIGHT : #CDD6DE;
$GREY_MIDDLE : #626262;
$RED : #D0021B;
$GREY : #4B5661;
$DARK_GREY : #6A747D;

.portfolio {

    overflow : hidden;

    &__inner {
        display : flex;
        height  : 100vh;
        @include m-land {
            min-height : 600px;
        }

        @include sm {
            min-height : unset;
        }
    }

    &__portfolio-container {
        &_active {
            max-width : 100vw;
        }
    }

    &__portfolio-item {
        width      : 248px;

        transition : all 1s;

        @include sm {
            width : 285px;
        }

        @include md {
            width : 386px;
        }

        @include lg {
            width : 486px;
        }

        @include hd {
            width : 728px;
        }

        &_activated {
            //animation           : animItem 1s;
            //animation-fill-mode : forwards;
            width           : 100%;
            height          : 100%;
            background-size : cover;
            margin          : 0 auto;
        }

        &_deactivated {
            animation           : animDeactItem 1s;
            animation-fill-mode : forwards;
        }
    }

    &__slide-menu-list-item {
        font-family    : "Open Sans", sans-serif;
        font-style     : normal;
        font-weight    : normal;
        font-size      : 14px;
        line-height    : 18px;
        text-transform : uppercase;
        transform      : rotate(-90deg);
        padding        : .5rem;
        min-width      : 120px;
        text-align     : center;
        position       : relative;
        cursor         : pointer;

        a {
            white-space : nowrap;
            color       : #4B5661;
            cursor      : pointer;
        }

        &_active {
            font-weight : bold;
        }

        &_deactive {
            animation           : 1s slideMenuDeact;
            animation-fill-mode : forwards;
        }

        &_active-menu {
            font-family    : "Gilroy", sans-serif;
            font-style     : normal;
            font-weight    : 800;
            font-size      : 36px;
            line-height    : 44px;
            text-transform : uppercase;
            transform      : rotate(0deg);
            margin-bottom  : 1rem;

            a {
                text-align : left;
                color      : #CDD6DE;
            }

            &_active {

                a {
                    color : #4B5661;
                }
            }
        }

        span {
            font-family         : "Gilroy", sans-serif;
            font-style          : normal;
            font-weight         : 800;
            font-size           : 36px;
            line-height         : 44px;
            text-transform      : uppercase;
            color               : #FFFFFF;
            animation           : .4s ease-out itemSlideDown;
            animation-fill-mode : forwards;
            left                : -5.5rem;
            position            : absolute;
            max-width           : 300px;
            width               : 300px;
            text-align          : left;
            display             : block;
        }

        &:hover {

            @include sm {

                span {
                    font-family         : "Gilroy", sans-serif;
                    font-style          : normal;
                    font-weight         : 800;
                    font-size           : 36px;
                    line-height         : 44px;
                    text-transform      : uppercase;
                    color               : #FFFFFF;
                    display             : block;
                    animation           : .4s ease-out itemSlide;
                    animation-fill-mode : forwards;
                    left                : -5.5rem;
                    position            : absolute;
                    max-width           : 300px;
                    width               : 300px;
                    text-align          : left;
                    z-index             : 2;
                }
            }
        }
    }

    &__slide-menu-list {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        flex-direction  : column;
        height          : 320px;

        &_active {
            padding-top     : 4rem;
            align-items     : flex-start;
            justify-content : unset;
        }
    }

    &__portfolio-item-link {
        height   : 100vh;
        width    : 100%;
        position : absolute;
    }

    &__slide-menu {
        background      : #fff;
        width           : 40px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        z-index         : 3;

        @include md {
            width : 427px;
        }

        @include lg {
            width : 528px;
        }

        @include hd {
            width : 790px;
        }

        &_active-open {
            //display : none;
            animation           : 1s slideDownMd;
            animation-fill-mode : forwards;
        }


        &_click {
            flex-direction  : column;
            justify-content : space-evenly;
            align-items     : flex-start;

            @include md {
                padding-left : 2rem;
                margin-right : 4rem;
            }

            @include hd {
                padding-left : 2rem;
                margin-right : 10rem;
            }

            @include xhd {
                padding-left : 4rem;
                margin-right : 20rem;
            }
        }

        &_active {
            animation           : 1s slideDownMd;
            animation-fill-mode : forwards;

            @include hd {
                animation           : 1s slideDownHd;
                animation-fill-mode : forwards;
            }

        }

        &_deactive {
            animation           : 1s menuList;
            animation-fill-mode : forwards;
        }
    }

    &__title {
        display : none;
    }

    &__title_active {
        display     : block;
        padding-top : 6rem;
    }

    &__portfolio-item {
        background-repeat   : no-repeat;
        background-size     : cover;
        background-position : center;

        &_active {
            display             : block;
            z-index             : 999;
            height              : 100vh;
            animation           : 1s ease-out port;
            animation-fill-mode : forwards;
        }
    }

    &__image-content {
        position        : relative;
        bottom          : 0;
        height          : 100vh;
        max-height      : 100vh;
        display         : flex;
        flex-direction  : column;
        justify-content : flex-end;
        padding-bottom  : 2rem;
        padding-left    : .5rem;
        padding-right   : .5rem;

        @include m-land {
            padding-bottom : 2rem;
            height         : 600px;
            max-height     : 600px;
        }

        @include sm {
            height     : 100vh;
            max-height : 100vh;
        }

        @include md {
            padding-left  : 1rem;
            padding-right : 1rem;
        }

        @include lg {
            padding-left  : 2rem;
            padding-right : 2rem;
        }
    }

    &__image-content-item {
        max-width  : 114px;
        margin-top : 1rem;

        @include md {
            margin-top : 2rem;
        }
    }

    &__image-content-item-text {
        width  : 100%;
        height : auto;
    }

    &__image-content-title {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 24px;
        line-height : 24px;
        color       : #565656;
        max-width   : 272px;

        @include md {
            font-size : 26px;
            max-width : 370px;
        }

        @include lg {
            font-size : 30px;
        }
    }

    &__button {
        margin-bottom : 1rem;
        margin-left   : .5rem;

        .button__color_grey {
            width : 160px;
        }

        @include md {
            margin-bottom : 2rem;
        }
    }

    &__color_white {
        color : #fff;

        li {
            color : #fff;
        }

        p {
            color : #fff;
        }
    }

    &__navigation {
        display        : flex;
        flex-direction : column;
        margin-top     : 2.5rem;
        margin-bottom  : 9rem;

        @include sm {
            position      : absolute;
            margin-top    : -9rem;
            margin-bottom : 0;
            right         : unset;
        }

        @include md {
            margin-top : -13.5rem;
            right      : 30%;
        }

        @include lg {
            margin-top : -11rem;
        }

        @include hd {
            margin-top : -15rem;
            right      : 30%;
        }
    }

    &__nav {
        font-family    : 'Gilroy', sans-serif;
        font-size      : 28px;
        line-height    : 28px;
        font-weight    : 800;
        text-transform : uppercase;
        color          : $GREY_LIGHT;
        position       : relative;

        @include sm {
            font-size   : 38px;
            line-height : 38px;
        }

        @include hd {
            font-size   : 46px;
            line-height : 46px;
        }

        &:first-child {
            margin-bottom : 1rem;
        }

        &:hover:first-child:before {
            animation : animPortfolioNav 1s infinite;
        }

        &:first-child:before {
            content          : '';
            width            : 67px;
            height           : 22px;
            position         : absolute;
            left             : 110%;
            top              : 6%;
            background-size  : cover;
            background-image : url("./../../images/arrow.svg");

            @include sm {
                left : 110%;
                top  : 18%;
            }

            @include lg {
                top : 20%;
            }

            @include hd {
                left : 110%;
                top  : 26%;
            }
        }

        &:last-child:before {
            content          : '';
            width            : 67px;
            height           : 22px;
            position         : absolute;
            left             : 0%;
            bottom           : -3.5rem;
            background-size  : cover;
            transform        : rotate(90deg);
            background-image : url("./../../images/arrow.svg");

            @include sm {
                left : 8%;
            }
        }

        &:hover:last-child:before {
            animation : animTeamNav 1s infinite;
        }
    }

    &__navigation-container {
        display     : flex;
        align-items : flex-end;
        height      : 100vh;
        margin-left : .5rem;
    }

    &__slide-menu-desc {
        display : none;
    }

    &__button-tag {
        font-family : 'Open Sans', sans-serif;
        font-style  : italic;
        font-size   : 18px;
        line-height : 14px;
        text-align  : center;
        color       : $WHITE;
        box-shadow  : 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform   : skewX(-30deg);
        display     : inline-block;
        width       : 120px;
        transition  : all .3s ease;
        outline     : none;
        position    : relative;
    }

    &__button-tag_color-red {
        background : $RED;
        color      : $WHITE;
    }

    &__button-tag_color-grey {
        background : $GREY;
        color      : $WHITE;
        width      : 160px;
    }

    &__button-tag-text {
        transform : skewX(30deg);
        display   : inline-block;
        padding   : 1px 0 0.25rem;
    }

    &__image-background {
        background-position : center;
        background-size     : cover;
        background-repeat   : no-repeat;
        position            : absolute;
        height              : 100%;
        width               : 300px;
        z-index             : -1;
        opacity             : 1;
    }
}

.portfolio-wrapper {
    position : relative;
}

@keyframes port {
    100% {
        width : 100%;
    }
}

@keyframes itemSlide {
    0% {
        opacity   : 0;
        transform : rotate(90deg) translateX(-100px);
    }

    60% {
        opacity : 0;
    }

    100% {
        opacity   : 1;
        transform : rotate(90deg) translateX(170px);
    }
}

@keyframes itemSlideDown {
    0% {
        opacity   : 1;
        transform : rotate(90deg) translateX(170px);
    }

    20% {
        opacity : 0;
    }

    100% {
        opacity   : 0;
        transform : rotate(90deg) translateX(-100px);
    }
}

@keyframes animPortfolioNav {
    0% {
        transform : translateX(0);
    }

    50% {
        transform : translateX(6px);
    }

    100% {
        transform : translateX(0);
    }
}

@keyframes animTeamNav {
    0% {
        transform : translateY(0) rotate(90deg);
    }

    50% {
        transform : translateY(6px) rotate(90deg);
    }

    100% {
        transform : translateY(0) rotate(90deg);
    }
}


@keyframes slideDownMd {
    100% {
        width : 40px;
    }
}

@keyframes slideDownHd {
    100% {
        width : 60px;
    }
}

.bg_grad {
    background : linear-gradient(to bottom, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, 0) 100%);

    @include lg {
        background : unset;
    }
}

.portfolioDesign {
    overflow : hidden;

    &_active {
        overflow : auto;
    }

    &__inner {
        padding-top : 2rem;
    }

    &__inner-title {
        font-family    : Gilroy;
        font-style     : normal;
        font-weight    : 800;
        font-size      : 30px;
        line-height    : 30px;
        text-transform : uppercase;
        color          : #4B5661;
        margin-top     : 2rem;
        margin-bottom  : 2rem;
    }

    &__inner-logo {
        display       : flex;
        align-items   : center;
        margin-bottom : 2rem;
        position      : relative;
    }

    &__inner-image-item {
        width  : 100%;
        height : auto;
    }

    &__inner-image {
        max-width : 114px;
        height    : auto;
    }

    &__inner-name {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 26px;
        line-height : 32px;
        color       : #565656;
        margin-left : 1rem;
    }

    &__inner-content-item-title {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 26px;
        line-height : 32px;
        color       : #D0021B;
    }

    &__inner-content-item-text {
        font-family : Open Sans, sans-serif;
        font-style  : normal;
        font-weight : normal;
        font-size   : 16px;
        line-height : 18px;
        color       : #626262;
        margin-top  : 2rem;
    }

    &__inner-content-item {
        margin-bottom : 4rem;
    }

    &__inner-content-item-list {
        margin-top      : 2rem;
        display         : flex;
        flex-direction  : column;
        list-style-type : none;
    }

    &__inner-content-item-list-text {
        font-family   : Open Sans, sans-serif;
        font-style    : normal;
        font-weight   : normal;
        font-size     : 16px;
        line-height   : 18px;
        color         : #626262;
        margin-bottom : .5rem;

        &:before {
            content      : '•';
            width        : 4px;
            height       : 4px;
            display      : inline-block;
            margin-right : .5rem;
        }
    }

    &__content {
        box-shadow          : 0 0 50px rgba(0, 0, 0, .2);
        opacity             : 0;
        background-position : center;
        background-size     : cover;
        background-repeat   : no-repeat;

        &_active {
            opacity             : 1;
            position            : relative;
            animation           : animItem 1s;
            animation-fill-mode : forwards;

            @include m-land {
                animation           : animItemLand 1s;
                animation-fill-mode : forwards;
            }

            @include sm {
                animation           : animItemSm 1s;
                animation-fill-mode : forwards;
            }

            @include md {
                animation           : animItemMd 1s;
                animation-fill-mode : forwards;
            }

            @include lg {
                animation           : animItemLg 1s;
                animation-fill-mode : forwards;
            }

            @include hd {
                animation           : animItemHd 1s;
                animation-fill-mode : forwards;
            }

            @include xhd {
                animation           : animItemXhd 1s;
                animation-fill-mode : forwards;
            }
        }

        &_end {
            animation           : animEnd 1s;
            animation-fill-mode : forwards;
        }
    }

    &__image-background {
        height              : 100vh;
        width               : 100vw;
        background-repeat   : no-repeat;
        background-size     : cover;
        background-position : center;
    }

    &__image {
        position : absolute;
        top      : 0;

        &_active {
            position : fixed;
        }
    }

    &__image-content {
        position        : relative;
        bottom          : 0;
        height          : 100vh;
        max-height      : 100vh;
        display         : flex;
        flex-direction  : column;
        justify-content : flex-end;
        padding-bottom  : 9rem;

        &_active {
            opacity : 0;
        }

        @include m-land {
            padding-bottom : 5rem;
        }
    }

    &__image-content-item {
        max-width  : 114px;
        margin-top : 1rem;
    }

    &__image-content-item-text {
        width  : 100%;
        height : auto;
    }

    &__image-content-title {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 24px;
        line-height : 24px;
        color       : #565656;
        max-width   : 272px;

        @include md {
            font-size : 26px;
            max-width : 370px;
        }

        @include lg {
            font-size : 30px;
        }
    }

    &__button {
        margin-bottom : 1rem;
    }

    &__color_white {
        color : #fff;

        li {
            color : #fff;
        }

        p {
            color : #fff;
        }
    }

    &_full {
        width      : 100%;
        margin-top : 4rem;
        box-shadow : 0 0 50px rgba(0, 0, 0, 0.2);

        @include lg {
            margin-top : 10rem;
        }
    }
}


@keyframes animItem {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(68vh);
    }
}

@keyframes animItemLand {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(60vh);
    }
}

@keyframes animItemSm {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(83vh);
    }
}

@keyframes animItemMd {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(75vh);
    }
}

@keyframes animItemLg {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(70vh);
    }
}

@keyframes animItemHd {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(75vh);
    }
}

@keyframes animItemXhd {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(81vh);
    }
}

.portfolioDev {
    overflow : hidden;

    &_active {
        overflow : auto;
    }

    &__inner {
        padding-top : 2rem;
    }

    &__inner-title {
        font-family    : Gilroy;
        font-style     : normal;
        font-weight    : 800;
        font-size      : 30px;
        line-height    : 30px;
        text-transform : uppercase;
        color          : #4B5661;
        margin-top     : 2rem;
        margin-bottom  : 2rem;
    }

    &__inner-logo {
        display       : flex;
        align-items   : center;
        margin-bottom : 2rem;
        position      : relative;
    }

    &__inner-image-item {
        width  : 100%;
        height : auto;
    }

    &__inner-image {
        max-width : 114px;
        height    : auto;
    }

    &__inner-name {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 26px;
        line-height : 32px;
        color       : #565656;
        margin-left : 1rem;
    }

    &__inner-content-item-title {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 26px;
        line-height : 32px;
        color       : #D0021B;
    }

    &__inner-content-item-text {
        font-family : Open Sans, sans-serif;
        font-style  : normal;
        font-weight : normal;
        font-size   : 16px;
        line-height : 18px;
        color       : #626262;
        margin-top  : 2rem;
    }

    &__inner-content-item {
        margin-bottom : 4rem;
    }

    &__inner-content-item-list {
        margin-top      : 2rem;
        display         : flex;
        flex-direction  : column;
        list-style-type : none;
    }

    &__inner-content-item-list-text {
        font-family   : Open Sans, sans-serif;
        font-style    : normal;
        font-weight   : normal;
        font-size     : 16px;
        line-height   : 18px;
        color         : #626262;
        margin-bottom : .5rem;

        &:before {
            content      : '•';
            width        : 4px;
            height       : 4px;
            display      : inline-block;
            margin-right : .5rem;
        }
    }

    &__content {
        box-shadow : 0 0 50px rgba(0, 0, 0, .2);
        opacity    : 0;

        &_active {
            opacity             : 1;
            position            : relative;
            animation           : animItem 1s;
            animation-fill-mode : forwards;

            @include m-land {
                animation           : animItemLand 1s;
                animation-fill-mode : forwards;
            }

            @include sm {
                animation           : animItemSm 1s;
                animation-fill-mode : forwards;
            }

            @include md {
                animation           : animItemMd 1s;
                animation-fill-mode : forwards;
            }

            @include lg {
                animation           : animItemLg 1s;
                animation-fill-mode : forwards;
            }

            @include hd {
                animation           : animItemHd 1s;
                animation-fill-mode : forwards;
            }

            @include xhd {
                animation           : animItemXhd 1s;
                animation-fill-mode : forwards;
            }
        }

        &_end {
            animation           : animEnd 1s;
            animation-fill-mode : forwards;
        }
    }

    &__image-background {
        height              : 100vh;
        width               : 100vw;
        background-repeat   : no-repeat;
        background-size     : cover;
        background-position : center;
    }

    &__image {
        position : absolute;
        top      : 0;

        &_active {
            position : fixed;
        }
    }

    &__image-content {
        position        : relative;
        bottom          : 0;
        height          : 100vh;
        max-height      : 100vh;
        display         : flex;
        flex-direction  : column;
        justify-content : flex-end;
        padding-bottom  : 9rem;

        &_active {
            opacity : 0;
        }

        @include m-land {
            padding-bottom : 5rem;
        }
    }

    &__image-content-item {
        max-width  : 114px;
        margin-top : 1rem;
    }

    &__image-content-item-text {
        width  : 100%;
        height : auto;
    }

    &__image-content-title {
        font-family : Gilroy;
        font-style  : normal;
        font-weight : 800;
        font-size   : 24px;
        line-height : 24px;
        color       : #565656;
        max-width   : 272px;

        @include md {
            font-size : 26px;
            max-width : 370px;
        }

        @include lg {
            font-size : 30px;
        }
    }

    &__button {
        margin-bottom : 1rem;
    }

    &__color_white {

        li {
            color : #fff;
        }

        p {
            color : #fff;
        }
    }
}

@keyframes animItem {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(68vh);
    }
}

@keyframes animItemLand {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(60vh);
    }
}

@keyframes animItemSm {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(83vh);
    }
}

@keyframes animItemMd {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(75vh);
    }
}

@keyframes animItemLg {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(70vh);
    }
}

@keyframes animItemHd {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(75vh);
    }
}

@keyframes animItemXhd {
    0% {
        transform : translateY(100vh);
    }
    100% {
        transform : translateY(81vh);
    }
}

.testDiva {
    //opacity : 0;
    display : none;
    top     : 0;
    z-index : 998;

    &_active {
        //animation           : 1s ease-out openDiv;
        //animation-fill-mode : forwards;
        display    : block;
        position   : absolute;
        height     : 100%;
        width      : 100%;
        background : #fff;
    }
}

//@keyframes openDiv {
//    100% {
//        opacity : 1;
//    }
//}


//@keyframes animItem {
//    100% {
//        width           : 100%;
//        height          : 100%;
//        background-size : cover;
//        margin          : 0 auto;
//    }
//}


@keyframes animDeactItem {
    100% {
        .portfolio__portfolio-item {
            width : 248px;

            @include sm {
                width : 285px;
            }

            @include md {
                width : 386px;
            }

            @include lg {
                width : 486px;
            }

            @include hd {
                width : 728px;
            }
        }
    }
}


@keyframes slideMenu {
    100% {
        display : none;
        width   : 0;
    }
}


@keyframes menuList {
    100% {
        width : 0;
    }
}


@keyframes slideMenuDeact {
    100% {
        opacity : 0;
    }
}