mixin teamAll()
    +b.teamAll
        .container
            +e.inner
                +titleMedium('Our approach')
                +e.core-inner
                    +e.core-inner-item
                        +e.core-inner-item-image(src=require("./../images/core.png"), alt='Core')
                    +e.core-inner-items
                        +e.core-inner-items-content-first
                            +e.core-inner-content
                                +e.P.core-inner-content-title Professional approach
                                +e.P.core-inner-content-text Attentive attitude to customers, partners and colleagues. The team keeps to a professional approach in every aspect - from the manner of communicating with the client to meeting deadlines. We have great experience and modern tools to solve any complex problems of customers.
                            +e.core-inner-content
                                +e.P.core-inner-content-title Mutual responsibility
                                +e.P.core-inner-content-text And attention to details. Mutual respect and responsibility in relations with partners, compliance with requirements and wishes is the foundation of our work. In order to take into account all the mutual interests, it is necessary to consider every detail.
                        +e.core-inner-items-content-second
                            +e.core-inner-content
                                +e.P.core-inner-content-title Creativity
                                +e.P.core-inner-content-text The ability to find new ways and have abroad vision of the world is the basis of our work. For this reason, the team is supported by a new look and outstanding ideas. We accurately find the best solutions on any of the given tasks.
                +e.sharing-inner
                    +e.sharing-inner-container
                        +e.P.sharing-inner-text Also we know and we are able:
                        +e.sharing-inner-item
                            +e.sharing-inner-item-image(src=require("./../images/sharing.png"), alt='Sharing')
                    +e.sharing-inner-items-content
                        +e.sharing-inner-content
                            +e.P.sharing-inner-content-title Economy
                            +e.P.sharing-inner-content-text Nowadays, more and more people are opting for online services that are based on innovative sharing economy and collaborative consumption business models.
                        +e.sharing-inner-content
                            +e.P.sharing-inner-content-title Services
                            +e.P.sharing-inner-content-text And attention to details. Mutual respect and responsibility in relations with partners, compliance with requirements and wishes is the foundation of our work. In order to take into account all the mutual interests, it is necessary to consider every detail.
                +e.ecom-inner
                    +e.ecom-inner-container
                        +e.P.ecom-inner-text Also we know and we are able:
                        +e.ecom-inner-item
                            +e.ecom-inner-item-image(src=require("./../images/ecom.png"), alt='Ecommerce')
                    +e.ecom-inner-content
                        +e.P.ecom-inner-content-text We design and integrate complex modern omni-channel and multi-channel solutions for retail and eCommerce businesses that have presence on international markets. Our agile development practices allow us to make continuous delivery and seamless integration without interfering with the core business of our clients.
        +footer-line()

