mixin portfolioDev(colorMod)
    - var titleColorMod = colorMod ? colorMod : ''
    +b.portfolioDev(class = `${titleColorMod}`)
        .container
            +e.inner
            +titleMedium("About project")
            +e.P.inner-title e-commerce site
            +e.inner-logo
                +e.inner-image
                    +e.inner-image-item(src=require("./../images/sushi.png"), alt='Sushi')
                +e.SPAN.inner-name ProSushi
            +e.inner-content
                +e.inner-content-item
                    +e.SPAN.inner-content-item-title Client
                    +e.P.inner-content-item-text JSC “MTBank” is a modern commercial bank, providing full variety of services to corporate and individual clients.
                +e.inner-content-item
                    +e.SPAN.inner-content-item-title Tasks
                    +e.UL.inner-content-item-list
                        +e.LI.inner-content-item-list-text создать сервис для поиска истории о б/у машинах с имеющейся базой автомобилей, попавших в ДТП;
                        +e.LI.inner-content-item-list-text возможность пополнения базы любым пользователем;
                        +e.LI.inner-content-item-list-text создать административную панель для работы с базой данных.
                        +e.LI.inner-content-item-list-text создать сервис для поиска истории о б/у машинах с имеющейся базой автомобилей, попавших в ДТП;
                        +e.LI.inner-content-item-list-text возможность пополнения базы любым пользователем;
                        +e.LI.inner-content-item-list-text создать административную панель для работы с базой данных.
                +e.inner-content-item
                    +e.SPAN.inner-content-item-title Realisation
                    +e.UL.inner-content-item-list
                        +e.LI.inner-content-item-list-text создать сервис для поиска истории о б/у машинах с имеющейся базой автомобилей, попавших в ДТП;
                        +e.LI.inner-content-item-list-text возможность пополнения базы любым пользователем;
                        +e.LI.inner-content-item-list-text создать административную панель для работы с базой данных.
                        +e.LI.inner-content-item-list-text создать сервис для поиска истории о б/у машинах с имеющейся базой автомобилей, попавших в ДТП;
                        +e.LI.inner-content-item-list-text возможность пополнения базы любым пользователем;
                        +e.LI.inner-content-item-list-text создать административную панель для работы с базой данных.
                +e.inner-content-item
                    +e.SPAN.inner-content-item-title Technologies
            +technology()
            +portfolio-image()
