mixin header()
    +b.HEADER.header
        .container
            +e.inner
                +e.logo(href='#')
                    +e.logo-img(src=require("./../images/logo.png"), alt='Mastak')
                +e.link
                    +e.link-text(href='#') contact us
                    +e.burger(href="#")
                        +e.SPAN.burger-line
                        +e.SPAN.burger-line