mixin contact()
    +b.contactPage
        .container
            +e.inner
                +titleBig("contact")
                +e.person
                    +e.person-item-first
                        +e.person-item-first-image
                            +e.person-item-first-image-foto(src=require("./../images/person-one.png"), alt='Person')
                        +e.person-item-first-about
                            +e.P.person-item-first-about-name Olga Glazkova
                            +e.SPAN.person-item-first-about-text marketing consultant
                            +e.SPAN.person-item-first-about-text olga@mastakstudio.com
                    +e.person-item-second
                        +e.person-item-second-image
                            +e.person-item-second-image-foto(src=require("./../images/person-two.png"), alt='Person')
                        +e.person-item-second-about
                            +e.P.person-item-second-about-name Max Nikolaev
                            +e.SPAN.person-item-second-about-text marketing consultant
                            +e.SPAN.person-item-second-about-text max@mastakstudio.com
                +e.info
                    +e.info-adrress
                        +e.info-adrress-tabs
                            +e.SPAN.info-adrress-tabs-item US
                            +e.SPAN.info-adrress-tabs-item Belarus
                        +e.info-adrress-contents
                            +e.info-adrress-content
                                +e.info-adrress-content-link(href='tel:+13128743507') +1 312 874 3507
                                +e.info-adrress-content-text 1620 S Michigan Ave, Suite 1214 Chicago, IL 60616
                                +button('view on map','button__color_red')
                            +e.info-adrress-content
                                +e.info-adrress-content-link(href='tel:+13128743507') +1 312 874 3507
                                +e.info-adrress-content-text 1620 S Michigan Ave, Suite 1214 Chicago, IL 60616
                                +button('view on map','button__color_red')
                    +e.info-message
                        form(id="info-message" method='POST' action='/')
                            +e.info-message-input
                                +e.info-message-input-inner
                                    +input("text", "username","Name")
                                    +e.info-message-input-inner-response
                                +e.info-message-input-inner
                                    +input("text", "username","E-mail")
                                    +e.info-message-input-inner-response
                            +e.info-message-textarea
                                +e.textarea
                                    +textarea("usermessage" , "Message")
                                    +e.info-message-input-inner-response
                            .col-12.col-sm-6.col-offset-sm-2.pt-sm-10
                                +e.button
                                    +button('sent message','button__color-submit_grey',"submit","userbutton")