include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/footer-line/footer-line
include ./components/page404/page404
include ./components/titleLittle/titleLittle
include ./components/titleMedium/titleMedium
include ./components/titleBig/titleBig
