@import "./../../common/constants";

.footer-line{

    &__inner{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__inner_stroke{
        background: #D0021B;
        border-radius: 1.5px;
        height:2px;
        width: 1%;
        margin-left: auto;
        margin-right: auto;
        transition: width 1s;

        &_active{
            width: 100%;
        }
    }

}