include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app")
        +loader('loader__spinner_egg')
        +header()
        main.main
            +portfolioDev("portfolioDev__color_light-grey")
        footer
            .container
                +footer-line("footer__pos_a")