include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app app__bg_color-red")
        +loader('loader__spinner_egg')
        +header()
        main.main
            +team()