include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app app__bg_color-grey-light")
        +loader('loader__spinner_egg')
        +header()
        main.main
            +teamAll()
        footer
            +footer-line("footer__pos_a")