mixin titleBig(title,colorMod)
    - var titleColorMod = colorMod ? colorMod : ''
    +b.titleBig
        +e.H1(class = `text ${title}`)= title


mixin titleLittle(title)
    +b.titleLittle
        +e.H1.text(class = `text ${title}`)= title



mixin titleMedium(title)
    +b.titleMedium
        +e.H1.text(class = `text ${title}`)= title
