mixin titleBig()
    +b.titleBig
        .container
            +e.H1.text portfolio


mixin titleLittle()
    +b.titleLittle
        .container
            +e.H1.text portfolio



mixin titleMedium()
    +b.titleMedium
        .container
            +e.H1.text contact
