@import "./../../common/constants";

$RED : #D0021B;

.button {
    font-family : 'Open Sans', sans-serif;
    font-style  : italic;
    font-size   : 18px;
    line-height : 14px;
    text-align  : center;
    color       : $WHITE;
    box-shadow  : 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform   : skewX(-30deg);
    display     : inline-block;
    width       : 120px;
    transition  : all .3s ease;
    position    : relative;
    outline: none;
    &:before {
        content    : '';
        position   : absolute;
        top        : 0;
        left       : 0;
        width      : 0;
        height     : 100%;
        transition : all .4s ease;
    }

    &:hover:before {
        width       : 100%;
    }


    &__text {
        transform : skewX(30deg);
        display   : inline-block;
        padding   : 1px 0 0.25rem;
    }

    &__color_red {
        color  : $RED;
        border : 1px solid $RED;

        &:before {
            background : $RED;
        }

        &:hover {
            color : $WHITE;
        }
    }

    &__color_grey {
        color  : $GREY;
        border : 1px solid $GREY;

        &:before {
            background : $GREY;
        }

        &:hover {
            color : $WHITE;
        }
    }
}